body { background-color:#0b5046; }
#page { background:#0b5046; margin:0; padding:5px 5px 5px 5px; border:0; border-spacing:0; }
#header { background:#c6f1e4; margin:0; padding:10px 5px 7px 10px; border:0; border-spacing:0; font-family:"Trebuchet MS",Arial,sans-serif; } 
#menu_cont { margin:0; padding:0; border:0; border:0; border-spacing:0; width:770px; }

#menu td { margin:0; padding:0; background:#000000; width:110px; height:24px; text-align:center; vertical-align:middle; }
#menu td a { width:110px; height:24px; padding-top:4px; display:inline-block; color:#ffffff; text-decoration:none; font-size:14px; font-weight:bold; font-family:"Trebuchet MS", Arial, sans-serif; }
#menu a:hover { color:#194c41; }
#menu .active { background:#5a887b; width:110px; height:24px; padding-top:4px; color:#000000; }
#content { margin:0; padding:10px 10px 10px 10px; width:770px; background-color:#c6f1e4; font-size:12pt; font-family:Georgia,"Times New Roman",Times,serif; }
#content h1 { margin:0; color:#000000; background:#ffd478; padding:5px; font-size: 14pt; font-family:"Trebuchet MS",Arial,sans-serif; }
#content a { text-decoration:none;color:#2E5B71; }
#content a:hover { text-decoration:underline;color:#2E5B71; }
#content p { margin:0; padding:5px 5px 5px 5px; text-align:justify; }
#footer { margin:0; padding:0; height:20px; background-color:#0b5046; color:#000000; text-align:right; font-size:10pt; font-family:Verdana,sans-serif; }

